<div class="field clearfix">
  <%= f.label :images %>
	<% Image.content.in_groups_of(3, false).each do |row| %>
		<div class="gallery_widget_row">
			<% row.each do |image| %>
	    <div class="image_widget_form_item">
				<div class="image_widget_form_item_details">
			    <%= label_tag image.name %><br />
					<%= check_box_tag 'gallery_widget[image_ids][]', image.id, widget.images.include?(image) %>
			
				</div>
				<%= image_tag image.file.thumb.url %><br />
	    </div>
			<% end %>
		</div>
	<% end %>
</div>