<div id="layout1">
	<div id="background_image">
		<%= region(BACKGROUND_IMAGE) %>
	</div>
	<div id="main_content" class="container">
		<div class="row">
			<div id="left" class="span7">
				<%= region('left') %>
			</div>
			<div id="right"  class="span5">
				<%= region('right') %>
			</div>
		</div>
	</div>
</div>