<div id="map">
	<div id="main_content">
		<div class="container">
			<div id="intro">
				<%= region('intro') %>
			</div>
			<div id="map">
				<%= region(MAP) %>
			</div>
			<div id="info">
				<%= region('info') %>
			</div>
		</div>
	</div>
</div>