<% if widget.image %>
	<div class="image_widget widget">
		<% unless widget.link.blank? %>
			<%= link_to (image_tag widget.image.file.url), widget.link %><br />
		<% else %>
			<%= image_tag widget.image.file.url %><br />
		<% end %>
	</div>
<% else %>
	<div>
		<strong>Missing Image</strong>
	</div>
<% end %>