@import 'cms/mixins';

/***********************************
Calendar
***********************************/
#calendar #date_bar {
	margin: 10px 0 20px 0;
	h2 { text-align: center; }
	#calendar_previous_link { float: left; margin-top: 10px; font-size: 16px; }
	#calendar_next_link { float: right; margin-top: 10px; font-size: 16px; }
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
}

tr.month_names {
	font-size: 20px;
}

#calendar td {
	width: 120px;
	border: 1px solid #9FC7E6;
	vertical-align: top;
	padding: 5px;
}

#calendar td.day {
	font-weight: bold;
}

#calendar tr.day_without_events td {
	background: #CFE2EB;				
  /*@include gradiented(#F6E290, #FCD436);	*/
}

#calendar td {
	background: #EEF9FF url(backgrounds/calendar_day_without_events.jpg) repeat-x;				
  @include gradiented(#F9FDFF, #EEF9FF);	
}

#calendar .calendar_day_marker {
	color: #9FC7E6;
}

#calendar td.otherMonth {
	background-color: #E1EFF3;
}

#calendar .calendar_event {
	padding: 5px;
	margin-bottom: 10px;
}

.calendar_event .event_time {
	color: #666;
}

table#table_headings {
	td { 
		background: #93A7B9;
  	@include gradiented(#BDD1DC, #BDD1DC);
		border: none; text-align: center; 
		padding: 10px 0;
		color: #32475C;
		font-weight: bold;
		font-size: 16px;
		text-shadow: 1px 1px 1px #fff;
	}
}

table#table_headings.fixed { position: fixed; top: 0; width: 940px; margin-top: 0; }
