@import "cms/mixins";

/***********************************
All templates
***********************************/

.container {
	.row {
		.row_header {
			h1 {margin-left: 20px; padding-bottom: 10px; border-bottom: 1px dotted #ccc; margin-bottom: 20px}
		}

	}
}

/***********************************
Templates
***********************************/

#homepage {
	#background_image {
		position: absolute;
	}
	
	.container {
		padding: 240px 110px 50px;				
		background: url(backgrounds/content_tall.png) no-repeat;	
		min-height: 400px;
		position: relative;		
	}
}

/***********************************
Template 1
***********************************/

#template1.background {
	background: #fff;
	
	#background_image {
		position: absolute;
	}
	
	.container {
		background: url(backgrounds/template1_content.png) no-repeat;		
		padding: 240px 110px 50px;		
		position: relative;
	}
}

#template1.no_background {
	background: #fff url(backgrounds/no_background_content.png) repeat-x;			
	
	.container {
		position: relative;		
		padding-top: 30px;
	}
}

/***********************************
Template 2
***********************************/


#template2.background {
	background: #fff;
	
	#background_image {
		position: absolute;
	}
	
	.container {
		background: url(backgrounds/sidebar_content.png) no-repeat;
		min-height: 400px;
		position: relative;
		padding: 45px 110px 50px;			
		
		#row1_header {
			position: absolute;
			top: 300px;
		}	
		
		#row0 {
			#row0_column0 {
				padding-top: 320px;
			}
			
			#row0_column1 {
				background: #D8E7EF;
				width: 330px;
				padding: 20px;
				min-height: 500px;
			}
		}
	}
}

#template2.no_background {
	background: #fff;
	
	.container {
		background: #fff url(backgrounds/no_background_content.png) repeat-x;			
		min-height: 400px;
		position: relative;
		padding: 45px 110px 50px;				
		
		#row0 {
			#row0_column1 {
				background: #D8E7EF;
				width: 330px;
				padding: 20px;
				min-height: 500px;
			}
		}
	}
}

/***********************************
Template 3
***********************************/


#template3 {
	background: #fff;
	
	.container {
		background: url(backgrounds/no_background_content.png) repeat-x;		
		padding: 40px 110px 50px;
		position: relative;		
		
		#row0 {
			#row0_column1 {
				background: #D8E7EF;
				width: 330px;
				padding: 20px;
				min-height: 400px;
			}
		}		
	}		
}

/***********************************
Template 4
***********************************/


#template4.no_background {
	background: #fff;
	
	.container {
		background: url(backgrounds/no_background_content.png) repeat-x;		
		padding: 40px 110px 50px;
		position: relative;		
		
		#row0 {
			#row0_column0 {
				background: #D8E7EF;		
			}
			
		}		
	}		
}

#template4.background {
	background: url(backgrounds/template4_content_background.png) repeat-y;
	
	#background_image {
		position: absolute;
	}
	
	.container {
		background: url(backgrounds/template4_content.png) no-repeat;		
		padding: 240px 110px 50px;		
		position: relative;
		
			#row1_header {
				padding-left: 260px;
			}	
			
			.column0 {
				background: #D8E7EF;		
			}
			
			.column1 {
				.widget {
					padding-left: 20px;
				}
			}
	}		
}

/***********************************
Template 5
***********************************/

#template5.background {
	background: url(backgrounds/template5_content_background.png) repeat-y;
	
	#background_image {
		position: absolute;
	}
	
	.container {
		background: url(backgrounds/template5_content.png) no-repeat;		
		padding: 220px 110px 50px;		
		position: relative;
		
		#row0 {
			#row0_column1 {
				background: #D8E7EF;
				width: 330px;
				padding: 20px;
				min-height: 400px;
			}
		}		
		
		#row0_column0 {
			margin-top: 80px;
		}
		
		#row1_header {
			position: absolute;
			top: 240px;
			width: 500px;
		}
	}		
}

#template5.no_background {
	background: #fff;
	
	.container {
		background: url(backgrounds/no_background_content.png) repeat-x;		
		padding: 40px 110px 50px;
		position: relative;		
		
		#row0 {
			#row0_column1 {
				background: #D8E7EF;
				width: 330px;
				padding: 20px;
				min-height: 400px;
			}
		}		
	}		
}


#article {
	background: #fff;
	
	.container {
		background: url(backgrounds/no_background_content.png) repeat-x;		
		padding: 40px 110px 50px;
		position: relative;		
		
		#articles_archive {
			
			h2 {
				margin-bottom: 10px;
			}
			
			.articles_archive_item {
				margin-bottom: 5px;
				font-size: 14px;
			}
			
		}
		
		#row0 {
			#column1 {
				background: #D8E7EF;
				width: 255px;
				padding: 20px;
				min-height: 300px;
			}
		}
		
	}
		
}


/***********************************
Forms
***********************************/

.span5 {
	input[type=text] {
		width: 320px;
		height: 25px;
	}
	textarea {
		width: 320px;
		height: 170px;
	}
}


/***********************************
Gallery
***********************************/

.gallery.grid .gallery_item {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

/***********************************
Events Table
***********************************/

table {
	td {
		border: 1px solid;
		padding: 5px;
	}
}	
	

/***********************************
Articles
***********************************/
.articles_archive_month {
	margin-bottom: 10px;
}

.article {
	margin-bottom: 50px;
}

.article_details {
	margin-top: 20px;
	font-style: italic;
  @include gradiented(#F1F7F9, #DDEBF1);		
	padding: 10px;
}

#comments_form textarea {
	width: 100%;
	height: 150px;
}

/****************************************************
Profile Widget
*****************************************************/

.page_row {
	clear: both;
	margin-bottom: 20px;
}

.widget {
	margin-bottom: 20px;
}

.events_widget h2 {
	margin-bottom: 10px;
}

.date_icon {
	width: 57px;
	height: 56px;
	text-align: center;
	background: url(backgrounds/date_icon.png);
	float: left;
	margin-right: 15px;
	
	.date_icon_month {
		padding: 3px 0;
		color: #FFF;
	}

	.date_icon_day {
		padding: 4px 0;
		font-size: 18px;
	}
} /* date icon */


.event_day {
	margin-bottom: 20px;
	padding-bottom: 10px;
	min-height: 60px;
	border-bottom: 1px solid #fff;
		
	.event_widget_event {
		margin-bottom: 10px;
		margin-left: 70px;
		color: #666;
		font-size: 14px;
		
		.event_name {
			font-weight: bold;
			margin-bottom: 5px;
			color: #333;				
		}
	}
	
}

* html .event_day {
	height: 60px;
}

#calendar_other_month_link_next {
	float: right;
}

.calendar_other_month_link {
	font-size: 18px;
}