body#sanderstead_parish {
	#parish_home {
		#slideshow { position: relative; z-index: 0 }
		#slideshow_controls {position: absolute; z-index: 1; width: 1160px; top: 290px;}
		#main_content { 
			position: relative;
			background: url(backgrounds/homepage_content.png) repeat-x;
			margin-top: -20px;
			#left { float: left; width: 540px; 
				#intro { margin-bottom: 30px; }
				#churches {
					.church { margin-bottom: 20px;
						.church_image { float: left; }
						.church_text { margin-left: 155px; }
					}
				}
			}
			
			#right { 
				margin-left: 560px; 
				width: 335px;
				margin-top: -300px; 
				background: url(backgrounds/homepage_sidebar.png) no-repeat;
				padding-left: 40px;
				padding-top: 30px;
				padding-right: 40px;
			}
			
			#bottom { 
				h1 { margin-bottom: 20px; }
				.feature { float: left; width: 300px; margin-right: 10px;
					.feature_image { margin-bottom: 20px; }
				}
			}
		}
	}
}