@import "cms/mixins";

/***********************************
Common elements
***********************************/

a, a:visited {
	color: inherit;
	text-decoration: none;
}

a img {
	border: none;
}

.container h1 {
	margin-bottom: 20px;
}

h1, h2, h3 {
	color: #32475C;
	text-shadow: 1px 1px 1px #fff;		
}

#spacer, .spacer {
	clear: both;
}

.strong {
	font-weight: bold;
}

.hidden {
	display: none;
}

/***********************************
Layout
***********************************/
* {
	margin: 0;
	padding: 0;
}

body#sanderstead_parish {
	margin: 0;
	padding: 0;
	background-color: #EDF4F7;
	
	#wrapper {
		margin: auto;
		width: 1160px;
		border: 10px solid #fff;
		box-shadow: 1px 1px 5px #333;	
	}

	#footer_wrapper {
		margin: auto;
		width: 960px;
	}

	#footer {
		padding: 20px 100px 40px 100px;
		margin-top: 20px;
		text-align: center;
	}
			
	/***********************************
	Header
	***********************************/

	#header {
		height: 120px;
		position: relative;
		padding: 0 100px;	
		background: red;
		background: url(backgrounds/gradients/white_pale_blue.png);
		@include gradiented(#FFF, #C6DDE7);
	}

	#logo {
		padding-top: 20px;
		height: 100px;
		float: left;
		position: relative;		
		
		h1 {
			height: 50px;
		}

		#sub_logo {
			position: absolute;
			top: 56px;
			right: 0px;
		}
	}

	#top_nav {
		height: 50px;
		padding: 0 100px;
		background: url(backgrounds/gradients/blue_dark_blue.png);		
  	@include gradiented(#496886, #212f3d);
	}

	#top_nav a {
		float: left;
		display: block;
		font-size: 16px;
		color: #FFF;
		padding: 17px 20px 15px;
		text-shadow: 1px 1px 1px #000;				
	}

	#top_nav a.selected {
		background: url(backgrounds/gradients/pale_blue_pale_blue.png);		
  	@include gradiented(#EDF1F6, #B3C1D7);
		color: #000;
		text-shadow: 1px 1px 1px #fff;				
	}
	
	#parish_nav {
		position: absolute;
		right: 100px;
		top: 40px;
	}

	#parish_nav a {
		display: block;
		float: left;
		margin-right: 30px;
		font-size: 16px;
		text-shadow: 1px 1px 1px #fff;		
	}
}