<div id="layout1">
	<div id="background_image">
		<%= region(BACKGROUND_IMAGE) %>
	</div>
	<div id="main_content">
		<div id="left">
			<%= region('left') %>
		</div>
		<div id="right">
			<%= region('right') %>
		</div>
		<div class="spacer"></div>
	</div>
</div>